<!DOCTYPE html>
<html lang="pt-br"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>

    <div class="col py-3" layout:fragment="corpo">
        <h1 class="h1">Lista de Ativos</h1>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Código</th>
                        <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ITAÚSA</td>
                        <td>ITSA4</td>
                        <td>Ação</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Banco Santander</td>
                        <td>SANB3</td>
                        <td>Ação</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Banco do Brasil</td>
                        <td>BBAS3</td>
                        <td>Ação</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Vale</td>
                        <td>VAL3</td>
                        <td>Ação</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Taesa</td>
                        <td>TAEE4</td>
                        <td>Ação</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Kinea Renda Imobiliária FII</td>
                        <td>KNRI11</td>
                        <td>FII</td>
                    </tr>

                </table>

            </div>


        </div>


    </div>

</body>
</html>