<!DOCTYPE html>
<html lang="pt-br"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>

    <div class="col py-3" layout:fragment="corpo">
        <h1 class="h1">Lista de Ativos</h1>
        <div th:replace="/fragments/alert"></div>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Código</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>

                    <tr th:each="a : ${ativos}">
                        <td th:text="${a.nome}"></td>
                        <td th:text="${a.codigo}"></td>
                        <td th:text="${a.tipoAtivo.nome}"></td>
                        <td colspan="2">
                            <a th:href="@{/ativos/editar/{id} (id=${a.id}) }" class="btn btn-info btn-sm"  role="button">
                                <span class="bi bi-pencil " title="Editar" aria-hidden="true"></span>
                            </a>

                            <a th:href="@{/ativos/excluir/{id} (id=${a.id})}" role="button" class="btn btn-danger btn-sm"
                                    data-toggle="modal" >
                                <span class="bi bi-trash3" title="Exclusão" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>


                </table>

            </div>


        </div>


    </div>

</body>
</html>